<div class="widget-wrap">
    <h3 class="widget-title">Il mio romanzo</h3>
    <div class="widget sellfy-grid">
        <style>
            #goodreads-widget {
              font-family: georgia, serif;
              padding: 18px 0;
              width:288px;
            }
            #goodreads-widget h1 {
              font-weight:normal;
              font-size: 16px;
              border-bottom: 1px solid #BBB596;
              margin-bottom: 0;
            }
            #goodreads-widget a {
              text-decoration: none;
              color:#60a136;
            }
            iframe{
              background-color: #ffffff;
            }
            #goodreads-widget a:hover { text-decoration: underline; }
            #goodreads-widget a:active {
              color:#60a136;
            }
            #gr_footer {
              width: 100%;
              border-top: 1px solid #BBB596;
              text-align: right;
            }
            #goodreads-widget .gr_branding{
              color: #382110;
              font-size: 11px;
              text-decoration: none;
              font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            }
          </style>
          <div id="goodreads-widget">
            <div id="gr_header"><h1><a rel="nofollow" href="https://www.goodreads.com/book/show/25121515-non-tutti-i-principi-nascono-azzurri">Recensioni su Goodreads</a></h1></div>
            <iframe id="the_iframe" src="https://www.goodreads.com/api/reviews_widget_iframe?did=DEVELOPER_ID&format=html&header_text=Recensioni+su+Goodreads&isbn=6050328528&links=60a136&min_rating=3&num_reviews=10&review_back=ffffff&stars=e60000&stylesheet=&text=444" width="288" height="320" frameborder="0"></iframe>
            <div id="gr_footer">
              <a class="gr_branding" target="_blank" rel="nofollow" href="https://www.goodreads.com/book/show/25121515-non-tutti-i-principi-nascono-azzurri?utm_medium=api&utm_source=reviews_widget">Reviews from Goodreads.com</a>
            </div>
          </div>
    </div>
</div>