<div class="widget-wrap">
    <h3 class="widget-title">Il mio romanzo</h3>
    <div class="widget sellfy-grid">
        <a class="sellfy-cover" href="//sellfy.com/andreagatti">
            <img src="/images/feat_NTIPNA-cartaceo.png" alt="Non tutti i principi nascono azzurri" />
        </a>

        <div class="sellfy-button">
            <a class="magicbutton2" href="//sellfy.com/andreagatti" alt="Free download">
                0+ €
            </a>

            <a class="magicbutton" href="//sellfy.com/andreagatti" alt="Pay what you want">
                Paga quello che vuoi 😉
            </a>
        </div>
        <div style="height:1rem"></div>
    </div>
</div>